/*
    font-family: 'Playfair Display', serif;

    font-family: 'Roboto', sans-serif;

white    #F3EED9
brown    #824936
black    #222C2A

*/
:root {
    font-size: 16px;
}
body {
    box-sizing: border-box;
}
/*HEADER*/
.header_container {
    background-color: #F3EED9;
    display: flex;
    padding: 7em  0 ;
}
.header_inside {
    max-width: 1128px;
    margin: 0 auto;
    text-align: center;
    background-color: #F3EED9;
    border: 1px solid red;
    /* padding-bottom: 2em; */
}
.header_container h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
    margin-bottom: 2em;
    padding-top: 6%;
}
.header_container h1 {
    font-size: 3.75rem;
    color: #824936;
    font-family: 'Playfair Display', serif;
    padding-bottom: 3rem;
}
@media screen and (max-width:400px) {
    .header_inside h1{
        font-size: 2.75rem;

    }
    .header_inside {
        padding: 0 1em;
    }
}
/*MAIN*/

.main_container {
    max-width: 1128px;
    margin: 0 auto;
    margin-bottom: 5em;
    border: 1px solid blue;

}
.main_container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    text-align: center;
    padding: 1em 0 1.5em 0;
    color: #824936;
}
.main_flex_container {
    display: flex;
    justify-content: space-between;
}
.flex_item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    padding: 2em;
    line-height: 1.5;
}
@media screen and (max-width:650px){
    .main_flex_container {
        flex-direction: column;
        text-align: center;
    }
}
/*DARK GREEN PART*/
.dark_green_part {
    background: #222C2A;
}
.dark_green_part_container_flex{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    background: #222C2A;
    /* border: 1px solid yellow; */
    padding: 5em 0;
    color: white;
}
.dark_green_part_container_flex h4 {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    margin-bottom: 1em;
}
.dark_green_part_flexItem {
    padding: 2em;
    width: 100%;
}
.dark_green_part_flexItem p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.5;
}
.dark_green_part_flexItem img {
    max-width: 100%;
}

@media screen and (max-width:650px){
    .dark_green_part_container_flex {
        flex-direction: column;
        text-align: center;
    }
    .dark_green_part_flexItem {
        width: fit-content;
    }
    .margin-left {
        margin: 0 auto;
    }
}


/*BROWN PART*/

.brown_part {
    background: #824936;
}
.brown_part_container_flex{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    background: #824936;
    padding: 5em 0;
    color: white;
}
.brown_part_container_flex h4 {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    margin-bottom: 1em;
}
.brown_part_flexItem {
    padding: 2em;
    width: 100%;
}
.brown_part_flexItem p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.5;
}
.brown_part_flexItem img {
    max-width: 100%;
}
@media screen and (max-width:650px){
    .brown_part_container_flex {
        flex-direction: column;
        text-align: center;
    }
    .brown_part_flexItem {
        width: fit-content;
    }
    .margin-left {
        margin: 0 auto;
    }
}


































/* .dark_green_part > div {
    width: 100%;
    color: white;
}
.dark_green_part div:last-child {
    width: 60%;
} */

